{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %} fw-bold d-block"
              style="font-size: .9rem; margin-top: -25px;">
            {%- for error in errors -%}
                <span class="d-block">
                    <span class="form-error-icon badge bg-danger text-uppercase mb-4 me-1">{{ 'Error'|trans({}, 'validators') }}</span>
                    <span class="form-error-message">{{ error.message }}</span>
                </span>
            {%- endfor -%}
        </span>
    {%- endif %}
{%- endblock form_errors %}